.circle-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.circle-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.circle-btn.clicked {
      transform: scale(1.25);
      box-shadow: 0 0 25px rgba(255,255,255,0.8);
}

.timer-text {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  background: rgba(0,0,0,0.55);
}

#startBtn {
  animation: glowPulse 2s infinite;
}

@keyframes glowPulse {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }

  50% {
    box-shadow: 0 0 25px rgba(255, 215, 0, 1);
  }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  }
}

.disabledBtn {
    pointer-events: none;
    opacity: 0.4;
}

body {
    background-image: url(assets/img/background.jpg);
    background-size: contain;  
    background-position: center; 
    background-repeat: repeat;  
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5); 
  pointer-events: none; 
  z-index: 0;
}

.main-content {
  position: relative;
  z-index: 1;
}